$border-color: solid 1px grey;

* {
    box-sizing: border-box;
}

.weather-app {
    border: none;
    height: 600px;

    .weather-app__search {
        border: none;
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 100%;

        input {
          border: $border-color;
          flex: 1;
        }

        button {
            background: greenyellow;
            border: $border-color;
            cursor: pointer;
            width: 20%;

            &:hover {
                background: green;
            }
        }
        
    }

    .weather-app__navbar {
        width: 100%;
        height: 40px;
    }

    .weather-app__current {
        color: white;
        background: #66B2FF;
        height: 500px;
        border: $border-color;

        img {
            height: 90px;
        }
    }
}