$border-color: solid 1px grey;
$hover-color: #00cbe6;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.weather-app {
    background-image: linear-gradient(to right top, #0a4153, #07374a, #052d40, #032437, #021b2d);
    max-width: 500px;

    h3, h4, h5, h6 {
        margin: 5px 0;
    }

    h3 {
        font-size: 50px;
    }

    .weather-app__favorites  {
        margin: 0;
        padding: 0 10px;
        font-size: 0.7em;
        list-style: none;
        display: flex;
        height: auto;
        color: white;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        transition: all 0.8s ease-in-out;

        &.closed {
            opacity: 0;
            max-height: 0;
        }

        &.open {
            opacity: 1;
            max-height: 400px;
        }

        .favorites-list__item {
           padding: 10px;

           span {
            cursor: pointer;

            &:hover {
                color: $hover-color;
            }
           }
        }
    }

    .weather-app__no-result {
        color: white;
        padding: 30px;
        text-align: center;
        
    }

    

    .weather-app__current {
        position: relative;
        background-image: linear-gradient(to bottom, #0a4153, #004762, #004c71, #005180, #05558e);
        color: white;
        display: flex;
        padding: 20px 20px;

        #toggle-favorites-btn {
            position: absolute;
            top: 7px;
            right: 15px;
            transition: transform 0.6s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
                color: $hover-color;
            }

            &.arrow-up {
                transform: rotate(180deg);
            }

            &.arrow-down {
                transform: rotate(0);
            }
        }    

        .favorite-heart {
            cursor: pointer;
            font-size: 13px;
            transition: transform .3s;
            display: inline-block;
            margin-left: 10px;

            &.unchecked {
                opacity: 0.45;
                color: gainsboro;
            }

            &.checked {
                color: $hover-color;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .weather-details-left { 
            width: 60%;
        }

        .weather-details-right {
            display: flex;
            width: 40%;
            text-align: center;
            justify-content: center;
            align-items: center;
        

            h2 {
                font-size: 12px,
            }
            
        }

        img {
            height: 90px;
        }
    }

    .weather-app__search {
        display: flex;
        flex-direction: row;

        input {
          padding: 10px;
        }

        .search-input {
            flex: 2;
        }

        .search-button {
            font-weight: 600;
            border: none;
            color: white;
            cursor: pointer;
            background-color: darkcyan; 
            flex: 1;

            &:hover {
                background-color: $hover-color;
            }
        }
    }

    .weather-app__forecast {
        
        .forecast-list {
            margin:0;
            padding: 0;
            color: white;
            list-style: none;
            display: flex;
            flex-direction: column;

            .forecast-item {     
                border-top: solid 1px;
                display: flex;
                flex-direction: row;
                padding: 5px;
                justify-content: space-between;
                align-items: center;
                padding: 10px;

                &:first-of-type {
                    border: none;
                }

                img {
                    height: 35px;
                }

            }
        }
    }
}